{% extends 'recipe/base.html' %} {% block content %}
<h2>{{recipes.name}}</h2> <a href="{% url 'recipe_edit' pk=recipes.pk %}">(edit)</a>
<h4>{{recipes.origin}}</h4>

<img src="{{ recipes.photo_url }}" alt=""/>

<h4> {{recipes.body}}</h4>

<h3>Comments:</h3>
<ul>
    {% for comments in recipes.comments.all %}
    <li>
        {{comments.body}}
    </li>
    {% endfor %}
</ul>
<h4><a href="{% url 'recipe_delete' pk=recipes.pk %}">Delete Recipe</a></h4>
<p>Add a comment <a href="{% url 'comment_create' %}">(+)</a></p>

{% endblock %}