body {
    font-family: "Helvetica Neue", sans-serif;
    max-width: 50em;
    margin: auto;
    padding: 2em 1em;
    background-color: rgb(184, 182, 182);
    color: white;
    
  }

  nav a {
    
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #eeeeee;
  }
  
  nav a:hover {
    background-color: rgb(233, 157, 233);
    color: white;
  }
  
  a,
  a:visited {
    text-decoration: none;
    color: pink;
  }
  
  a:hover {
    background-color: #ccc;
  }
  img {
      width: 200px;
      height: 200px;
  }
  ul {
    list-style-type: none;
  }
  
  li {
    margin: 0.25em;
  }
  
  h1 {
    
    font: inherit;
    color: inherit;
    letter-spacing: -0.05em;
    text-decoration: none;
    
  }
  .title{
      font-size: 50px;
      text-align: center;
  }